/* Header/Menu bar */
.header-color {
    background-color: #339999 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.mdl-navigation a {
    align-items: center !important;
}
.mdl-layout__header {
    justify-content: center !important;
    flex-direction: row !important;
}
.mdl-layout__header-row {
    padding-left: 20px !important;
}

.mdl-layout__drawer-button {
    display: none !important;
}
.sticky-nav {
    display: none;
}

/* Landing Page CSS */
.landing-grid {
    background: #ffff;
    text-align: center;
    position: fixed;
    top: -6px;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img {
    height: 250px;
    padding-top: 5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.banner-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #f6f9f9;
    width: 75%;
    margin: auto;
    border-radius: 15px;
    padding-top: -15px;
    padding-bottom: 1rem;
}

.banner-text h1 {
    font-family: 'Bungee Hairline', sans-serif;
    font-size: 66px;
    font-weight: normal;
    color: #339999;
    padding-top: -15px;
    margin-bottom: 0.1em;
}

.banner-text hr {
    border-top: 5px dotted #919292;
    width: 65%;
    margin: 0 auto;
}

.banner-text p {
    color: #919292;
    font-size: 19px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.social-links i {
    color: #919292;
    font-size: 5em;
    padding: 8px;
    margin-top: -0.2em;
    margin-bottom: 0.3em;
}

/* Resume Page CSS */
.mdl-grid {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.resume-right-col {
    background: #f6f9f9;
    font-family: 'Montserrat', sans-serif;
    color: #919292;
    padding: 2em;
    border-radius: 15px;
}

.resume-right-col h2 {
    font-family: 'Bungee Hairline', sans-serif;
    color: #339999;
}
.resume-right-col h4 {
    font-family: 'Bungee Hairline', sans-serif;
    color: #339999;
}
.resume-left-col {
    /* border: 1px solid black; */
    font-family: 'Montserrat';
    color: #919292;
}
.resume-left-col h2 {
    margin: 0 auto;
    /* padding-top: 1.2em !important; */
}

.resume-left-col h6 {
    font-family: 'Montserrat';
}

.resume-left-col a {
    text-decoration: none;
    color: #919292;
}

.resume-left-col hr {
    border-top: 5px dotted #919292;
    width: 85%;
}

.html,
.css,
.javascript,
.python,
.react,
.react-router,
.nodejs,
.postgresql,
.angular,
.jquery,
.becrypt,
.sequelize,
.bootstrap,
.django,
.mongodb,
.wordpress,
.lodash,
.jest,
.enzyme,
.react-testing-library,
.nodemon,
.chai,
.cors,
.express,
.mocha,
.material-ui,
.mongoose,
.typescrypt,
.rxjs,
.jasmine,
.karma,
.protractor,
.react-hooks,
.react-redux,
.ant,
.gtm,
.snyk,
.uuid,
.fastify,
.auth0,
.gmapi {
    height: 50px;
}

.github,
.heroku,
.firebase,
.postman,
.codepen,
.netlify,
.git,
.npm,
.surge,
.vscode,
.aws,
.docker,
.twilio {
    height: 80px;
}

/* About Me Page CSS */
.about-body {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 3.6em;
}

.about-body p {
    font-family: 'Montserrat', sans-serif;
}

.about-body h4 {
    font-family: 'Montserrat', sans-serif;
}

.about-body i {
    font-size: 20px;
}

.about-quote {
    padding: 1rem 0.3rem;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.about-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    background: #f6f9f9;
    color: #919292;
    margin-bottom: 20px;
    border-radius: 15px;
}

.about-grid h1 {
    font-family: 'Bungee Hairline', sans-serif;
    color: #339999;
    margin-bottom: 5px;
}

.about-grid hr {
    border-top: 5px dotted #919292;
    width: 65%;
    margin: 1px 0px 33px 130px;
}

/* Projects Page CSS */
.projects-grid {
    display: flex;
    font-family: 'Montserrat';
}

/* Contact Page CSS */
.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    background: #f6f9f9;
    color: #919292;
    margin-bottom: 20px;
    border-radius: 15px;
}

.contact-grid h2 {
    font-family: 'Bungee Hairline', sans-serif;
    color: #339999;
}

.contact-grid p {
    font-family: 'Montserrat', sans-serif;
    color: #919292;
    font-weight: normal;
}

.contact-grid img {
    border-radius: 15px;
}

.contact-grid hr {
    border-top: 5px dotted #919292;
    width: 50%;
    margin: auto;
}

.contact-list {
    font-family: 'Montserrat', sans-serif;
    font-size: 66px;
    color: #919292;
}

.contact-list i {
    font-size: 66px;
    color: #919292;
    padding-right: 5rem;
}
.contact-details {
    font-size: 25px;
}
.mdl-list__item,
.mdl-list__item-primary-content {
    align-items: center !important;
    margin: 45px 0px 20px 30px;
}

/* Media Query */
@media handheld, only screen and (max-width: 720px) {
    .sticky-nav {
        display: block;
        background-color: white;
        width: 100%;
        height: 50px;
    }
    .avatar-img {
        height: 200px;
        padding-top: 5em;
        margin-top: -2em;
        margin-bottom: 1.4em;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    .social-links {
        width: 80%;
    }
    .social-links i {
        font-size: 2.4em;
        margin-top: -2em;
    }
    .resume-left-col {
        display: block;
        width: 75%;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .resume-left-col h2 {
        padding-top: 0.3em !important;
    }
    .resume-left-col hr {
        margin: 10px auto;
    }
    .html,
    .css,
    .javascript,
    .python,
    .react,
    .react-router,
    .nodejs,
    .postgresql,
    .angular,
    .jquery,
    .becrypt,
    .sequelize,
    .bootstrap,
    .django,
    .mongodb,
    .wordpress,
    .lodash,
    .jest,
    .enzyme,
    .react-testing-library,
    .nodemon,
    .chai,
    .cors,
    .express,
    .mocha,
    .material-ui,
    .mongoose,
    .typescrypt,
    .rxjs,
    .jasmine,
    .karma,
    .protractor,
    .react-hooks {
        height: 60px;
    }
    .about-body {
        position: relative;
    }
    .about-grid {
        margin-bottom: 30px !important;
    }
    .about-grid h1 {
        margin-top: 10px;
    }
    .about-grid hr {
        margin: 1px 0px 33px 50px;
    }
    .mdl-tabs__tab-bar {
        height: 70px;
        padding-top: 30px;
        margin-top: -30px;
        border-bottom: -20px;
    }
    /* .mdl-tabs__tab-bar {
        position: fixed;
    justify-content: center;
    position: fixed;
    top: 0;
} */
    .projects-tabs a {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        padding: 0px;
    }
    .contact-body {
        padding-top: 0px !important;
        position: relative;
    }
    .contact-grid {
        margin-bottom: 30px !important;
    }
    .contact-list {
        font-size: 33px;
    }
    .contact-list i {
        font-size: 33px;
        padding-right: 1rem;
    }
    .contact-details {
        /* justify-content: center !important;
        flex-direction: row !important; */
        font-size: 18px;
    }
    .mdl-list__item,
    .mdl-list__item-primary-content {
        align-items: center !important;
        margin: 45px 0px 20px 10px;
    }
    .mdl-layout__drawer-button {
        display: block !important;
    }
}
